<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="f1cdf143-7593-4511-b248-6b05a08dd2f5" name="https://oneself-api-test.optisolbusiness.com Test Suite 2" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="IncludeOverview">true</con:setting>
    <con:setting id="IncludeResults">true</con:setting>
    <con:setting id="FlowLayout">false</con:setting>
    <con:setting id="ErrorDetails">true</con:setting>
    <con:setting id="IncludeCoverage">true</con:setting>
    <con:setting id="f1cdf143-7593-4511-b248-6b05a08dd2f5fileName">https%3A%2F%2Foneself-api-test.optisolbusiness.com-Test-Suite-2</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
